<div class="main customer">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Customers</h3>
            <div class="row">
                <div class="col-md-12">
                    <!-- PANEL HEADLINE -->
                    <div class="panel panel-headline">
                        <div class="panel-body">
                            <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="Mobile No.">
                            </div>
                            <div class="col-md-5">
                                <input type="file" accept="image/png, image/jpeg" class="form-control" placeholder="Files">
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-block"><i class="fa fa-upload"></i>  Upload</button>
                            </div>
                        </div>
                    </div>
                    <!-- END PANEL HEADLINE -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="col-md-9"><h3 class="panel-title">Name : <span class="name">Sivakumar</span></h3></div>
                            <div class="col-md-3">
                                <input type="text" class="form-control align-right" placeholder="Search..">
                            </div>                            
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Image Name</th>
                                        <th>Size</th>
                                        <th>Path</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Steve</td>
                                        <td>Jobs</td>
                                        <td>@steve</td>
                                        <td>@steve</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Simon</td>
                                        <td>Philips</td>
                                        <td>@simon</td>
                                        <td>@steve</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Jane</td>
                                        <td>Doe</td>
                                        <td>@jane</td>
                                        <td>@steve</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
