<div class="main order-form">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Order</h3>
            <form>
            <div class="row">
                <div class="col-md-8">
                    <!-- PANEL HEADLINE -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Order Form</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row bottom-align">
                                <div class="col-md-2">
                                    <p>Mobile No.</p>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Mobile No.">
                                </div>
                            </div>
                            
                            <div class="row bottom-align">
                                <div class="col-md-2">
                                    <p>Name</p>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>

                            

                            <div class="row bottom-align">
                                <div class="col-md-2">
                                    <p>Type</p>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control">
										<option value="cheese">Cheese</option>
										<option value="tomatoes">Tomatoes</option>
									</select>
                                </div>
                            </div>

                            <div class="row bottom-align">
                                <div class="col-md-2">
                                    <p>Description</p>
                                </div>
                                <div class="col-md-10">
                                    <textarea class="form-control" placeholder="Write a Customer Need.." rows="6" cols="10"></textarea>
                                </div>
                            </div>

                            
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-6"></div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-primary align-right">Submit</button>
                                    <button type="button" class="btn btn-danger align-right cancel">Cancel</button>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PANEL HEADLINE -->
                </div>
            </div>
            </form>
        </div>
    </div>
</div>